/**
 * General
 */
body {

}

.strong {
    font-weight: bold;
}

.clear {
    clear: both;
}

.label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

/**
 * Extends Pure grids responsive to hide items.
 * Use xx-0 to hide an item on xx screen.
 * Display it at any level with xx-visible.
 */
.pure-u-0 { display: none !important; }
@media screen and (min-width: 35.5em) {
    .pure-u-sm-0 { display: none !important; }
    .pure-u-sm-visible { display: inherit !important; }
}
@media screen and (min-width: 48em) {
    .pure-u-md-0 { display: none !important; }
    .pure-u-md-visible { display: inherit !important; }
}
@media screen and (min-width: 64em) {
    .pure-u-lg-0 { display: none !important; }
    .pure-u-lg-visible { display: inherit !important; }
}
@media screen and (min-width: 80em) {
    .pure-u-xl-0 { display: none !important; }
    .pure-u-xl-visible { display: inherit !important; }
}

/**
 * MENU
 **/
.shaarli-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1b926c;
    -webkit-font-smoothing: antialiased;
    /* Hack to transition with auto height: http://stackoverflow.com/a/8331169/1484919 */
    max-height: 2.1em;
    transition: max-height 0.5s;
    overflow: hidden;
    z-index: 999;
}

.shaarli-menu.open {
    max-height: 500px;
    transition: max-height 0.75s;
}

.pure-menu-selected {
    background: #1A694C;
}

.pure-menu-link,
.pure-menu-link:visited,
.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
    color: #b0ddce;
}

.pure-menu-link:hover,
.pure-menu-selected .pure-menu-link:hover {
    color: #d1fff0;
    background: transparent;
}

.menu-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.menu-toggle .bar {
    background-color: #b0ddce;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    transition: all 0.5s;
}

.menu-toggle .bar:first-child {
    transform: translateY(-6px);
}

.menu-toggle.x .bar {
    transform: rotate(45deg);
}

.menu-toggle.x .bar:first-child {
    transform: rotate(-45deg);
}

@media screen and (max-width: 64em) {
    .menu-toggle {
        display: block;
    }
}

/**
 * Header
 */
#header {
    width: 100%;
    height: 150px;
    background: url(../img/noise.png), #1fa67a url(../img/logo2.png) no-repeat fixed 10px 2.5em;
}

#header h1 {
    position: fixed;
    float: left;
    margin: 45px 0 0 125px;
    width: 55%;
    height: 100px;
}

#header h1 a, #header h1 a:visited {
    /* https://css-tricks.com/centering-css-complete-guide/#vertical-inline-multiple */
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    height: 100px;
    color: #b0ddce;
    text-decoration: none;
    z-index: 1;

    /* TODO: font? */
}

#header h1 a:hover {
    color: #d1fff0;
}

#linkcount {
    /* position: fixed; */
    position: absolute;
    top: 40px;
    right: 10px;
    color: #b0ddce;
    font-size: 0.8em;
}

#search {
    /**
     * Can't make it work with awesomplete list z-index. Any idea?
     * position: fixed;
     */
    position: absolute;
    top: 60px;
    right: 10px;
    width: 30%;
    text-align: right;
}

#search input[type="text"] {
    margin: 0 0 5px 0;
    padding: 5px 5px 3px 15px;
    height: 20px;
    width: 140px;
    transition: width .5s ease;
    background: #1b926c;
    border: medium none currentColor;
    border-radius: 25px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.078), 0 1px 4px rgba(0, 0, 0, 0.298) inset;
    color: #b0ddce;
}

#search button {
    background: transparent;
    border: none;
    color: #b0ddce;
}

#search button:hover {
    color: #fff;
}

/**
 * CONTENT - GENERAL
 */
#content {
    position: relative;
    box-shadow: 0 -2px 1em #797979;
    z-index: 2;
    background: url(../img/noise.png) #979797;
}

/**
 * CONTENT - LINKLIST PAGING
 */
@media screen and (min-width: 35.5em) {
    .linklist-paging {
        margin: 2.1em 0 0 0;
    }
}

@media screen and (min-width: 64em) {
    .linklist-paging {
        margin: 0;
    }
}

.linklist-filters {
    margin: 10px 0;
    color: #252525;
}

.linklist-filters span {
    margin: 0 0 0 10px;
}

.linklist-filters a {
    padding: 2px 5px;
    text-decoration: none;
}

.linklist-filters .filter-off {
    color: #252525;
    background: #c8c8c8;
}

.linklist-filters .filter-on {
    color: #b0ddce;
    background: #1b926c;
}

.linklist-pages {
    margin: 10px 0;
    color: #252525;
    text-align: center;
}

.linklist-pages a {
    color: #252525;
    text-decoration: none;
}

.linklist-pages a:hover {
    color: #fff;
}

.linksperpage {
    margin: 10px 0;
    text-align: right;
    color: #252525;
}

.linksperpage a {
    padding: 2px 5px;
    text-decoration: none;
    color: #252525;
    background: #c8c8c8;
    border: solid 1px #979797;
}

.linksperpage form {
    display: inline;
    margin: 0 10px 0 0;
}

.linksperpage input[type="text"] {
    width: 28px;
    height: 20px;
    margin: 0 0 5px 0;
    padding: 3px 5px 3px 8px;
    background: #c8c8c8;
    border: medium none currentColor;
    border-radius: 25px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.078), 0 1px 4px rgba(0, 0, 0, 0.298) inset;
    color: #252525;
    font-size: 0.8em;
}

/**
 * CONTENT - LINKLIST ITEMS
 */
.linklist-item {
    margin: 15px 0;
    background: #fff;
    box-shadow: 2px 2px 0.5em #797979;
}

.linklist-item-title, .linklist-item-title h2  {
    margin: 0;
}

.linklist-item-title {
    background: #20b988 url(../img/noise.png);
    border-bottom: 1px solid #1b926c;
    box-shadow: 1px 1px 0.2em #1b926c;
}

.linklist-item-title h2 {
    padding: 2px 10px;
    line-height: 25px;
}

.linklist-item-title a {
    font-size: 0.6em;
    color: #d0fff0;
    text-decoration: none;
    vertical-align: middle;
}

.linklist-item-title a:hover {
    color: #fff;
}

.linklist-item-title .label-private {
    border: solid 1px #d0fff0;
}

.linklist-item-title .fold-button {
    display: none;
}

.linklist-item-editbuttons {
    float: right;
    padding: 5px;
}

.linklist-item-editbuttons a {
    font-size: 1em;
}

.linklist-item-description {
    padding: 10px;
}

.linklist-item-infos {
    padding: 5px;
    background: #ddd url(../img/noise.png);
    border-top: 1px solid #989898;
    box-shadow: 1px -1px 0.2em #989898;
    color: #252525;
    font-size: 0.8em;
}

.linklist-item-infos a {
    color: #505050;
    text-decoration: none;
}

.linklist-item-infos a:hover {
    color: #000;
}

.linklist-item-infos .label-tag {
    border: 1px solid #505050;
    font-size: 0.9em;
}

.linklist-item-infos .label-tag:hover {
    border: 1px solid #000;
}

.linklist-item-infos-url {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * CONTENT - LINKLIST ITEMS
 */
.linklist-item {
    margin: 15px 0;
    background: #fff;
    box-shadow: 2px 2px 0.5em #797979;
}

.linklist-item-title, .linklist-item-title h2  {
    margin: 0;
}

.linklist-item-title {
    background: #20b988 url(../img/noise.png);
    border-bottom: 1px solid #1b926c;
    box-shadow: 1px 1px 0.2em #1b926c;
}

.linklist-item-title h2 {
    padding: 2px 10px;
    line-height: 25px;
}

.linklist-item-title a {
    font-size: 0.6em;
    color: #d0fff0;
    text-decoration: none;
    vertical-align: middle;
}

.linklist-item-title a:hover {
    color: #fff;
}

.linklist-item-editbuttons {
    float: right;
    padding: 5px;
}

.linklist-item-editbuttons a {
    font-size: 1em;
}

.linklist-item-description {
    padding: 10px;
}

.linklist-item-infos {
    padding: 5px;
    background: #ddd url(../img/noise.png);
    border-top: 1px solid #989898;
    box-shadow: 1px -1px 0.2em #989898;
    color: #252525;
    font-size: 0.8em;
}

.linklist-item-infos a {
    color: #000;
    text-decoration: none;
}

.linklist-item-infos a:hover {
    color: #252525;
}
